{% extends 'base.html.twig' %}

{% block title %}API Översikt{% endblock %}

{% block body %}
    <main>
        <div class="api-container">
            <h1>API</h1>
            <p>Välkommen! Här finns en sammanställning av alla JSON router som webbplatsen erbjuder:</p>

            <table>
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Route</th>
                        <th>Metod</th>
                        <th>Beskrivning</th>
                    </tr>
                </thead>
                <tbody>
                    {% for route in routes %}
                        <tr>
                            <td>{{ route.namn }}</td>
                            <td>
                                {% if route.metod == 'POST' %}
                                    <form action="{{ path(route.link) }}" method="POST">
                                        <button type="submit" class="api-button">
                                            {{ route.route }}
                                        </button>
                                    </form>
                                {% else %}
                                    {% if route.link == 'library_book_by_isbn' %}
                                        <a href="{{ path('api_library_book_by_isbn', {'isbn': '9780451530783'}) }}">
                                            {{ route.route }}
                                        </a>
                                    {% else %}
                                        <a href="{{ path(route.link) }}">{{ route.route }}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{{ route.metod }}</td>
                            <td>{{ route.beskrivning }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
