<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
            <span class="site-title"></span>
        </header>

        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('api') }}">API</a></li>
                <li><a href="{{ path('api_quote') }}">Quote</a></li>
                <li><a href="{{ path('pig_init_get') }}">Pig game (init)</a></li>
                <li><a href="{{ path('card') }}">Card game</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        {% block main %}{% endblock %}

        <footer>
            <p>&copy; {{ "now"|date("Y") }} Michelle Tammi. All rights reserved.</p>
        </footer>
    </body>
</html>
